@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    color: #3882F6;
}

p.descriptions{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.descriptions-wrapper {
    padding: 20px;
    background: #eaeaea;
    max-width: 400px;
    margin: 50px auto;
  }

.quote {
    color: #E5E7EB;
    
}

.descriptions,
.random-info,
.quote,
.ads {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header,
.descriptions{
    color: #1F2937;
}

.header,
.footer {
    display: flex;
    justify-content: space-evenly;
}
