@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

div {
    border: 1px solid #000000;
}

button {
    color: #3882F6;
}

.descriptions-wrapper,
.image {
    padding: 20px;
    max-width: 450px;
    margin: 50px auto;
    word-wrap: break-word;
  }

.info {
    padding: 8px;
    max-width: 100px;
    margin: 20px auto;
    word-wrap: break-word;
}

.random-info,
.ads,
.footer {
    background: #e5e7eb9a;
}

.quote {
    background: #E5E7EB;
    color:#3882F6;
}

.descriptions,
.random-info,
.quote,
.ads,
.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header,
.descriptions{
    background: #1F2937;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
